.header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--accent);
    text-decoration: none;
}
.header__colortext{
    color:var(--main-text-color);
}

.footer__logo{
    margin-bottom: 20px ;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent);
    text-decoration: none;
}
.footer__colortext {
    color: var(--text-color);
}