.menu-toggle{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    }
    .menu-toggle .icon-cross{
        display: none;
    }
    .menu-toggle.is-open .icon-cross{
        display: block;
    }
    .menu-toggle.is-open .icon-menu{
        display: none;
    }

    .menu-container{
        display: none;
         position: absolute;
       top: 100%;
       left: 0;
       width:100%;
       height: 400px;
       background-color: var(--text-color);
        padding: 20px;
        text-align: center;

        &.is-open {
            display: block;
        }
    }