.backdrop{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--timing-function) var(--transition-duration);

&.is-hidden{
    opacity: 0;
    pointer-events: none;
   
}}
.modal{
    padding: 40px;
    display: block;
    text-align: center;
    min-width:528px ;
    min-height:581px ;
    background-color:rgba(255, 255, 255, 1) ;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.modal-button{
    position: absolute;
    top:17px;
    right: 17px;
    background-color: var(--secondary-background-color);
    color: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-color: rgba(0, 0, 0, 0.1);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    cursor: pointer;

&:hover{
    fill: var(--accent);
}
&:focus{
    fill: var(--accent);
}}
.form-title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.modal-form{
    display: block;
    text-align: center;
}

.modal-field{
    position:relative;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
}
.form-icon{
    position: absolute;
    top: 55%;
    left: 15px;
    fill: rgba(33, 33, 33, 1);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
}
.modal-label{
    display: block;
    margin-bottom: 4px;
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(117, 117, 117, 1);
}
.modal-input{
    
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3%;
    outline: transparent;
    border:solid 1px rgba(33, 33, 33, 0.2);
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);

&:hover{
    border-color: var(--accent);
}
&:focus {
    border-color: var(--accent);
}
&:hover +.form-icon{
    fill: var(--accent); 
}
&:focus+.form-icon {
    fill: var(--accent);
}}
.modal-textarea{
    width:100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.modal-area{
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    border-radius: 3%;
    outline: transparent;
    border: solid 1px rgba(33, 33, 33, 0.2);

    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);

    &:focus{
        border-color: var(--accent);
    }
    &:hover {
        border-color: var(--accent);
    }
}
.form-text{
    margin-left: 8.38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--secondary-text-color);
}
.form-link{
    color: var(--accent);
}
.checkbox-field{
    position: relative;
    display: flex;  
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.checkbox{
    appearance: none;
    position: absolute;

    &:hover+.agreement-icon{
        border-color: var(--secondary-accent);
    }
    &:focus+.agreement-icon {
        border-color: var(--secondary-accent);
    }
}
.checkbox:checked+.agreement-icon{
    background-color: var(--accent);
    border: none;
}

.agreement-icon{
    border:1px solid rgba(33, 33, 33, 1);
    display: inline-block;
    top: 16%;
    left: -1px;
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
}


.form-button{
    width: 200px;
    height: 50px;
    padding-left:56px ;
    padding-right: 55px;
    padding-top:10px ;
    padding-bottom:10px ;
    margin-bottom: 0;
   
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);

&:hover {
background-color: var(--secondary-accent);
}}
