.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    transition-property:background-color,fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);


&:hover{   
    background-color: var(--accent);
    fill: var(--secondary-background-color);
}
&:focus{
    background-color: var(--accent);
    fill: var(--secondary-background-color);
}}

.social__list{
    display: flex;
    justify-content: center;
    align-items: center;

}
.social__item:not(:last-child){
margin-right: 10px;
}

.social{
    margin-top: 0;
    margin-right: 109px;
    justify-content: center;
    display:inline-block;
    align-items: baseline;
}

.social__text{
    
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 00.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.social__link--footer{
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--text-color);
        width: 44px;
        height: 44px;
        background-color:rgba(255, 255, 255, 0.1) ;
        border-radius: 50%;
        transition-property:background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--timing-function);

&:hover{
    background-color: var(--accent);
}
&:focus{
    background-color: var(--accent);
}}
