:root{
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --text-color: #FFFFFF;
    --accent: #2196F3;
    --secondary-accent: #188CE8;
    --main-background-color:#F5F4FA;
    --secondary-background-color:#FFFFFF;
    --additional-color:#2F303A;
    --border-color:#ECECEC;
    --main-border-color: #AFB1B8;
    --secondary-border-color:#EEEEEE;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}