.features__list {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
   

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
}
.features__item{
    max-width: 450px;
    @media screen and (min-width:768px){
    max-width: 354px;
    &:nth-child(2n+1){
    margin-right: 30px;
    }}
    @media screen and (min-width:1200px) {
    width: 270px;
    margin-right: 30px;
    &:last-child{
        margin-right: 0; 
    }
    }
    }
.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-text-color);
    margin-bottom: 10px;
    
    @media screen and (max-width:767px) {
    text-align: center; 
    }
}

.features__box{
    height:120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50% 50%;
    fill: var(--main-text-color);
    background-color: var(--main-background-color);

    @media screen and (min-width:768px) {
       // width: 354px; 
       
    }
}