.team{
    background-color: var(--main-background-color);
}
.team__list{
    display: flex;
}
.team__item{
    background-color: var(--secondary-background-color);
    width: 270px;
    margin-right:30px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);

&:last-child{
    margin-right: 0;
}}
.team__subtitle{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--main-text-color);
}
.team__position{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--secondary-text-color);
        margin-bottom: 16px;
}
.team__box{
    padding-top:30px;
    padding-bottom: 30px;
}