.work {
    background-color: var(--text-color);
    padding-top: 0;
}
.work__list{
    display: flex;
}
.work__item{
    
    width: 370px;
    margin-right: 30px;
    position: relative;

&:last-child{
    margin-right: 0;
}}

.work__text{
    position:absolute;
    bottom: 0;
    left: 0;
    width:370px ;
    height:70px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px ;
    line-height: 1.1; 
    color: var(--text-color);
    background-color: rgba(47, 48, 58, 0.8);
}